* {
    margin: 1;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    font-size: 3rem;
    margin: 10px;
    margin-left: 35px;
}

.movieList { 
    display: flex;
    flex-wrap: wrap;
}

figure {
    z-index: 1;
    color:#191919;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    box-shadow:
    0 0 10px 2px #000000,
    0 0 25px 10px #3a0000,
    0 0 40px 15px #0d3d6e;
}

figcaption {
    text-align: center;
    background-color: darkred;
    color: white;
}