* {
    margin: 1;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.movieList { 
    display: flex;
    flex-wrap: wrap;
}

figure {
    z-index: 1;
    margin: 1em;
}

figcaption {
    text-align: center;
    background-color: darkred;
    color: white;
}