*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica", sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: pink;
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist a {
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    color: palevioletred;
    transition: transform 0.3s ease-in-out;
}

.navlist a:hover {
    transform: translateY (~3px);
    background-color: palevioletred;
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palevioletred;
    color: aliceblue;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
}

.projects-grid img {
    height: 15rem;
    width: auto;
}

.project-tile {
    X
}

figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

footer {
    font-size: small;
}

@media (max-width: 1200px) {
    html {
        font-size: 110%;
    }
}