* {
    margin: 5px;
    box-sizing: border-box;
}

html {
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.congressGrid { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: red;
}

.figureDiv {
    margin: 10px;
}

.congressGrid img {
    width: 15vw;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: 10px;
}

button { 
    color: white;
    background-color: red;
}