* {
    margin: 5px;
    box-sizing: border-box;
}

html {
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.congressGrid { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.figureDiv {
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align:center;
    border: 5px solid;
    border-image:  linear-gradient(to right blue red white);
  }

.congressGrid img {
    width: 15vw;
    height: auto;
}

figcaption {
    text-align: center;
}
